%footer#footer
  .alpha
    .container
      .signup-title Get News &amp; Updates
      .signup-form
        %input#email{type: "text"}/
        %label#email-label{for: "email"} Enter E-mail Address
        %button{type: "submit"} Go
  .beta
    .container
      .address 150 Coolidge Ave, Englewood, NJ, 07631 •  +1.732.969.8000 • Email Us
      .location-title Our Location
      %ul.location-list
        %li.location-list-item= link_to "NYC", "#"
        %li.location-list-item= link_to "Englewood", "#"
        %li.location-list-item= link_to "UK", "#"
        %li.location-list-item= link_to "Valencia", "#"
        %li.location-list-item= link_to "Shanghai", "#"
  .gamma
    .container
      .copywright &copy; 2014 Visual Image Display
