!!!
%html
  %head
    %title VID
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{id: "body-#{controller_name}-#{action_name}"}
    = render "layouts/nav"
    = yield
    = render "layouts/footer"
